p {
    color: rgb(33, 6, 59);
}

pre {
    color: rgb(255, 117, 221);
    background-color: crimson;

}

main {
    margin: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 1.875rem;


}

h1 {
    background-color: darkred;
    color: antiquewhite;
    border: solid;
    border-radius: 1.25rem;
    padding: 1.25rem;
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: bisque;
}

.imagen {
    width: 25rem;
    margin: 1.25rem 37.5rem .125rem 18.75rem;


}